@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

body {
  background-color:#1f2d40;
  color:#f5f5f5;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-flow: row;
  margin: 0px;
  padding: 0px;
}

.menu {
  background-color: #0e1823;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  min-width: 100px;
  order: 1;
  width: 20vw;
}
  .menu h1 {
    display:inline-block;
    background: url('../img/logo-tc.png') no-repeat;
    width:80px;
    height:80px;
  }

header {
  background: 
  linear-gradient(
    rgba(31,45,64,0.9), 
    rgba(31,45,64,0.9)
  ),
  url('../img/car-wireframe.png') no-repeat center;
  background-size: cover;
  order: 2;
}

.top-form {
  align-items: center;
  background-color: #1f2d40;
  display: flex;
  height: 92px;
  justify-content: space-evenly;
  
}

  .btn,
  .btn:active,
  .btn:focus  {
    background-color: transparent;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    color: #F5F5F5;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    height: 10px;
    line-height: 0;
    margin: 20px;
    padding: 20px;
  }

    .btn:hover {
      background-color: #FFFFFF;
      color: #000;
      transition: all 0.5s;
    }

  .btn.active {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    height: 10px;
    line-height: 0;
    margin: 20px;
    padding: 20px;
  }

  .search {
    background-color: transparent;
    border: 1px solid #AAA;
    border-radius: 5px;
    color: #AAA;
    font-size: 1em;
    height: 10px;
    margin: 20px;
    min-width: 20px;
    padding: 20px;
    width: 70vw;
  }

.results {
  height: calc(100% - 130px);
  width: 100%;
}

.cars-dialog {
  color: #FFF;
  display: flex;
  flex-flow: column;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
  max-height: calc(100vh - 100px);
  overflow: auto;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.car-container {
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: minmax(auto-fit, auto-fit);
  grid-template-rows: minmax(25px 40px);
  padding: 30px;
}

  .car-container:last-child {
    border-bottom: none;
  }

  .car-container:hover {
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
  }

.car-container > p {
  font-size: 1.2em;
  margin: 0;
}

.car-container > p:nth-of-type(odd) {
  font-weight: 700;
  margin: 0;
}

.car-container > p:nth-child(1) {
  font-size: 1.25em;
  grid-column: 1;
  grid-row: 1;
}

.car-container > p:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.car-container > p:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}

.car-container > p:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
  text-align: right;

}

.banner {
  font-family: 'Lobster Two', cursive;
  font-size: 100px;
  padding: 10px 90px;
  text-align: right;
}

  /* Note to whoever thought about this:
    *never* change the default browser behavior.
  */
  .banner::selection {
    background: rgba(45, 73, 124, 0.816);
    color: #FFF;
  }
  /* Case in point. */
  .banner::-moz-selection {
    background: rgba(45, 73, 124, 0.816);
    color: #FFF;
  }

.form {
  margin: 0 auto;
  width: 90%;
}

  .form > input[type="text"] { 
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 50px 0 0;
    width: 100%;
  }

  .form > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .form > input[name="price"] {
    width: 47%;
  }

  .form > input[type="text"]:invalid,
  .form > div > div > input[type="text"]:invalid,
  .form > input[name="price"]:invalid {
    border-bottom: 1px solid red;
    box-shadow: none;
  }

  .form-group > div {
    width: 47%;
  }
  .form > div > div > input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 50px 0 0;
    width: 100%;
  }

.bottom-btns {
  display: flex;
  justify-content: space-around
}

  .bottom-btns > div {
    flex: 1 0 auto;
  }


/* react-select styles */
.Select-control {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  cursor: default;
  display: table;
  height: 36px;
  margin: 40px 0 0;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Select.has-value.Select--single > .Select-control,
.Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control,
.Select-value a.Select-value-label:focus,
.Select.is-focused > .Select-control,
.Select.is-focused:not(.is-open) > .Select-control,
.Select-control .Select-input:focus,

.Select-placeholder,
.Select--single > .Select-control .Select-value,
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  background-color: transparent;
  color: #FFF;
  font-weight: 700;
}
.Select-menu-outer {
  background-color: rgba(255,255,255,0.5);
  color: #000;
  font-weight: 700;
}